    *{
    margin: 0;
    }
    .pre-menu{
    background-color: rgba(76, 139, 223, 0.555);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    z-index: 100;
    }
    .menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    }
    .submenu{
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 15px;
    color:white;    
    font-weight: 500;
    }
    .submenu:hover{
    color: black;
    }

    .logo{
    float: left;
    font-size: 1.2em;
    font-weight: 700;
    color: rgba(231, 234, 241, 0.911);
    padding-left: 15px;
    }
    /*---------------------Slider--------------------------*/
    .banner {
    position: relative;
    width: 100%;
    height: calc(100vh);
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('../crudautos/crudautos/mercedesrojo.jpg');
    animation: banner 24s infinite linear;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }    
    .banner a {
        text-decoration: none;
        padding: 25px;
        margin-bottom: 10px;
        font-size: 50px;
        text-align: center;
        background-color: #23227c44;
        border-radius: 25px;
        box-shadow:  0 0 10px 10px rgba(19, 21, 146, 0.356);
        color: rgba(255, 255, 255, 0.527);
        transition: all .3s ease-in-out;
    }
    .banner a:hover {
        background-color: #1747cad2;
        color: #d4d1d1;
        box-shadow:  0 0 10px 10px rgba(131, 129, 50, 0.589);
    }
    @keyframes banner {
        0% {
            background-image: url('../crudautos/autos/Diapositiva1.JPG');
        }
        25% {
            background-image: url('../crudautos/autos/Diapositiva2.JPG');
        }
        37% {
            background-image: url('../crudautos/autos/Diapositiva3.JPG');
        }
        50% {
            background-image: url('../crudautos/autos/Diapositiva4.JPG');
        }
        62% {
            background-image: url('../crudautos/autos/Diapositiva5.JPG');
        }
        74% {
            background-image: url('../crudautos/autos/Diapositiva6.JPG');
        }
        86% {
            background-image: url('../crudautos/autos/Diapositiva7.JPG');
        }
        100% {
            background-image: url('../crudautos/autos/Diapositiva8.JPG');
        }
    }
    /*---------------------Car Cruds--------------------------*/
    .title-crud h2{
        text-align: center;
        margin: 5rem;
        font-size: 50px;
        font-weight: 900;
        text-shadow: 2px 2px 2px rgba(26, 64, 233, 0.87);
    }
    /*---------------------Social networks--------------------------*/
    .social{
    position: fixed;
    left: -30;
    top: 300px;
    z-index: 100;
    }
    .social ul{
    list-style: none;
    }
    .social ul li a{
    display: inline-block;
    color: white;
    }
    .social ul li a:hover{
    background-color: #171620;
    color: white;
    }
    .social ul li .icon1{
    background-color: #3c33bb;
    padding: 10px 15px;
    }
    .social ul li .icon2{
    background-color: red;
    padding: 10px 14px;
    }
    .social ul li .icon3{
    background-color: #bb3367;
    padding: 10px 16px;
    }
    
    /*---------------------Footer--------------------------*/
    footer{
    display: block;
    min-height: 60px;
    background: #242323;
    text-align: center;
    padding-top: 15px;
    border-top: 5px solid #4e96a8;
    margin-top: 5rem;
    }
    .content-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 2px solid #afff;
    }
    .footer-two{
    text-align: center;
    }
    .footer-two h4{
    color: white;
    border-bottom: 3px outset rgb(21, 52, 224);
    padding-bottom: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 0 rgba(32, 162, 248, 0.479), 4px 4px rgba(8, 32, 65, 0.74);
    } 
    .footer-two p{
    color: white;
    font-size: 20px bold;
    text-shadow: 2px 2px 2px rgba(47, 26, 233, 0.829);
    }
    .footer-social{
    color: white;
    font-size: 100%;
    padding: 2%;
    }
    .final-title{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0;
    color: white;
    padding: 5px;
    text-shadow: 2px 2px 2px rgba(40, 26, 233, 0.925);
    }

