    *{
    margin: 0;
    }
    .pre-menu{
    background-color: rgba(76, 139, 223, 0.555);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    z-index: 100;
    }
    .menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    }
    .submenu{
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 15px;
    color:white;    
    font-weight: 500;
    }
    .submenu:hover{
    color: black;
    }

    .logo{
    float: left;
    font-size: 1.2em;
    font-weight: 700;
    color: rgba(231, 234, 241, 0.911);
    padding-left: 15px;
    }
    /*---------------------Slider--------------------------*/
    .banner {
    position: relative;
    width: 100%;
    height: calc(100vh);
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url("https://scontent.fctg2-1.fna.fbcdn.net/v/t1.0-9/131353287_112956110663221_5961409118729816809_n.jpg?_nc_cat=103&ccb=2&_nc_sid=8bfeb9&_nc_ohc=IHMHWkLP7GsAX8SEnDV&_nc_ht=scontent.fctg2-1.fna&oh=394554268123b73823f162cd04947cf1&oe=60097CB3");
    animation: banner 24s infinite linear;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }    
    .banner a {
        text-decoration: none;
        padding: 25px;
        margin-bottom: 10px;
        font-size: 50px;
        text-align: center;
        background-color: #23227c44;
        border-radius: 25px;
        box-shadow:  0 0 10px 10px rgba(19, 21, 146, 0.356);
        color: rgba(255, 255, 255, 0.527);
        transition: all .3s ease-in-out;
    }
    .banner a:hover {
        background-color: #1747cad2;
        color: #d4d1d1;
        box-shadow:  0 0 10px 10px rgba(131, 129, 50, 0.589);
    }
    @keyframes banner {
        0% {
            background-image: url("https://scontent.fctg2-1.fna.fbcdn.net/v/t1.0-9/131353287_112956110663221_5961409118729816809_n.jpg?_nc_cat=103&ccb=2&_nc_sid=8bfeb9&_nc_ohc=IHMHWkLP7GsAX8SEnDV&_nc_ht=scontent.fctg2-1.fna&oh=394554268123b73823f162cd04947cf1&oe=60097CB3");
        }
        25% {
            background-image: url("https://scontent.fctg2-1.fna.fbcdn.net/v/t1.0-9/130842087_112313210727511_5393989539837379471_o.jpg?_nc_cat=100&ccb=2&_nc_sid=8bfeb9&_nc_ohc=bLZgVb5PwvIAX8l8Rpo&_nc_ht=scontent.fctg2-1.fna&oh=236bbe1375b0846b75f0b180cbe780de&oe=600A0562");
        }
        37% {
            background-image: url("https://scontent.fctg2-1.fna.fbcdn.net/v/t1.0-9/130538282_112023837423115_1812815549112641305_o.jpg?_nc_cat=104&ccb=2&_nc_sid=8bfeb9&_nc_ohc=qQZKK3EjxGsAX-cHIHI&_nc_ht=scontent.fctg2-1.fna&oh=31f5cbc668a4e43273ca624c47c83e1d&oe=600AC973");
        }
        50% {
            background-image: url("https://scontent.fctg2-1.fna.fbcdn.net/v/t1.0-9/131098177_111582384133927_7449520950754713882_o.jpg?_nc_cat=105&ccb=2&_nc_sid=8bfeb9&_nc_ohc=BF9Wzxde9f0AX-6sd8S&_nc_oc=AQlsbAGHVfySEfk9dsjVI7_PE_EeW_gdGLj7NkoS9iJ7Pz1EJ_C2HobmG24twlqeinM&_nc_ht=scontent.fctg2-1.fna&oh=0b94857837c5ede4daee8a892d46335a&oe=60085F96");
        }
        62% {
            background-image: url("https://scontent.fctg2-1.fna.fbcdn.net/v/t1.0-9/130279453_111283104163855_2319125829216335525_o.jpg?_nc_cat=108&ccb=2&_nc_sid=8bfeb9&_nc_ohc=z4gY2vAJ_9AAX_enAyL&_nc_ht=scontent.fctg2-1.fna&oh=ba08d91b851eb9b83d896a1c6c169fe2&oe=600AB735");
        }
        74% {
            background-image: url("https://scontent.fctg2-1.fna.fbcdn.net/v/t1.0-9/130604057_110333800925452_3758412127759862765_o.jpg?_nc_cat=101&ccb=2&_nc_sid=8bfeb9&_nc_ohc=RWFBjlIRSPgAX_WaF5s&_nc_ht=scontent.fctg2-1.fna&oh=a6dd3c532ac88caf2caba76f409ab45f&oe=60083F6A");
        }
        86% {
            background-image: url("https://scontent.fctg2-1.fna.fbcdn.net/v/t1.0-9/130191233_109518004340365_4473196671905835849_o.jpg?_nc_cat=111&ccb=2&_nc_sid=8bfeb9&_nc_ohc=fksoMdfpKmgAX9GGIMC&_nc_ht=scontent.fctg2-1.fna&oh=2185bafc9acec43fb4b3a85954bc93eb&oe=600A1D9B");
        }
        100% {
            background-image: url('../crudautos/Diapositiva8.JPG');
        }
    }
    /*---------------------Car Cruds--------------------------*/
    .title-crud h2{
        text-align: center;
        margin: 5rem;
        font-size: 50px;
        font-weight: 900;
        text-shadow: 2px 2px 2px rgba(26, 64, 233, 0.87);
    }
    /*---------------------Social networks--------------------------*/
    .social{
    position: fixed;
    left: -30;
    top: 300px;
    z-index: 100;
    }
    .social ul{
    list-style: none;
    }
    .social ul li a{
    display: inline-block;
    color: white;
    }
    .social ul li a:hover{
    background-color: #171620;
    color: white;
    }
    .social ul li .icon1{
    background-color: #3c33bb;
    padding: 10px 15px;
    }
    .social ul li .icon2{
    background-color: red;
    padding: 10px 14px;
    }
    .social ul li .icon3{
    background-color: #bb3367;
    padding: 10px 16px;
    }
    
    /*---------------------Footer--------------------------*/
    footer{
    display: block;
    min-height: 60px;
    background: #242323;
    text-align: center;
    padding-top: 15px;
    border-top: 5px solid #4e96a8;
    margin-top: 5rem;
    }
    .content-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 2px solid #afff;
    }
    .footer-two{
    text-align: center;
    }
    .footer-two h4{
    color: white;
    border-bottom: 3px outset rgb(21, 52, 224);
    padding-bottom: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 0 rgba(32, 162, 248, 0.479), 4px 4px rgba(8, 32, 65, 0.74);
    } 
    .footer-two p{
    color: white;
    font-size: 20px bold;
    text-shadow: 2px 2px 2px rgba(47, 26, 233, 0.829);
    }
    .footer-social{
    color: white;
    font-size: 100%;
    padding: 2%;
    }
    .final-title{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0;
    color: white;
    padding: 5px;
    text-shadow: 2px 2px 2px rgba(40, 26, 233, 0.925);
    }

