    *{
    margin: 0;
    }
    .pre-menu{
    background-color: rgb(158, 158, 158);
    padding: 15px;
    display: fixed;
    }
    .menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    }
    .submenu{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    }
    .logo{
    float: left;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(21, 77, 182, .6);
    }
    /*---------------------Slider--------------------------*/
    .banner {
        position: relative;
        width: 100%;
        height: calc(94vh);
        background-color: #f5f5f5;
        background-size: cover;
        background-position: center;
        transition: all .1s ease-in-out;
        background-image: url('../crudautos/crudautos/mercedesrojo.jpg');
        animation: banner 24s infinite linear;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    .banner a {
        text-decoration: none;
        padding: 25px;
        margin-bottom: 10px;
        font-size: 50px;
        text-align: center;
        background-color: #23227c44;
        border-radius: 25px;
        box-shadow:  0 0 10px 10px rgba(19, 21, 146, 0.356);
        color: rgba(255, 255, 255, 0.527);
        transition: all .3s ease-in-out;
    }
    .banner a:hover {
        background-color: #1747cad2;
        color: #d4d1d1;
        box-shadow:  0 0 10px 10px rgba(131, 129, 50, 0.589);
    }
    @keyframes banner {
        0% {
            background-image: url('../crudautos/autos/Diapositiva1.JPG');
        }
        25% {
            background-image: url('../crudautos/autos/Diapositiva2.JPG');
        }
        37% {
            background-image: url('../crudautos/autos/Diapositiva3.JPG');
        }
        50% {
            background-image: url('../crudautos/autos/Diapositiva4.JPG');
        }
        62% {
            background-image: url('../crudautos/autos/Diapositiva5.JPG');
        }
        74% {
            background-image: url('../crudautos/autos/Diapositiva6.JPG');
        }
        86% {
            background-image: url('../crudautos/autos/Diapositiva7.JPG');
        }
        100% {
            background-image: url('../crudautos/autos/Diapositiva8.JPG');
        }
    }

